html {
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: $font-body;
  color: $type-color;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: $font-headings;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a, a:link {
  color: $link-color;
  text-decoration: none;
}
