/**
 * Branding
 */
$brand-chrome: #2C3E50;
$brand-content: #ECF0F1;
$brand-error: #E74C3C;
$brand-cta: #3498DB;
$brand-cta-dark: #2980B9;
$brand-info: lighten($brand-cta, 30%);

/**
 * Layout
 */
$layout-header-size: 3rem;
$layout-padding: 0.8rem;

/**
 * Typography
 */
$font-body: Raleway, Georgia, serif;
$font-headings: 'Open Sans', Helvetica, Arial, sans-serif;
$type-color: #444;
$type-inverted-color: #fff;
$info-font-size: 80%;
$info-font-color: #666;

/**
 * Links
 */
$link-color: $brand-cta;

/**
 * Buttons
 */
$button-radius: 0.2rem;
$button-font-size: 1.4rem;
$button-padding: 0.6rem;
$button-inactive-shadow: 0 0.30rem 0 darken($brand-cta, 25%);
$button-active-shadow: 0 0.20rem 0 darken($brand-cta, 25%);

/**
 * Slideout
 */
 $slideout-bg: #1D1F20 linear-gradient(145deg, #1D1F20, #404348);

/**
 * Menu
 */
 $menu-heading-color: #85888d;
 $menu-font-color: #fff;
 $menu-item-spacing: 1.5rem;

 /**
  * Tea Colors
  */
$tea-green: green;
$tea-black: #5e270c;
$tea-white: white;
$tea-oolong: #ffc35a;
$tea-puerh: #9c793d;
$tea-yellow: yellow;
$tea-herbal: #c5a1f2;

/**
 * Tea Nav
 */
$tea-nav-bg: darken($brand-cta-dark, 25%);

/**
 * Breakpoints
 */
$wide-device: 480px;

/**
 * Timer
 */
 $timer-control-color: #fff;
 $timer-control-decrement-icon: "\f107";
 $timer-control-increment-icon: "\f106";
 $timer-control-bg: $brand-cta;
 $timer-control-height: 0.7rem;
