.logo {
  margin: 2rem 0;
}

.logo__text {
  font-family: 'Pacifico';
  font-size: 4rem;
  line-height: 4.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.logo__icon {
  display: block;
  fill: green;
  height: auto;
  margin: 0 auto;
  opacity: 0.4;
  width: 6rem;
}
