.minute-timer {
  background-color: #efefef;
  color: #444;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 5rem;
  width: 100%;
}

.minute-timer:before,
.minute-timer:after {
  display: table;
  content: "";
  line-height: 0;
}

.minute-timer:after {
  clear: both;
}

.minute-timer__component {
  position: relative;
  background-color: #fff;
  float: left;
  margin-left: 0.7rem;
  padding: 0 1.2rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2) inset, -1px -1px 3px rgba(0, 0, 0, 0.2) inset;
}

.minute-timer__component:first-child {
  margin-left: 0;
}

.minute-timer__control {
  color: $timer-control-color;
  font-family: "FontAwesome";
  font-size: 15%;
  text-align: center;
  background: $timer-control-bg;
  position: absolute;
  left:0;
  height: $timer-control-height;
  width: 100%;
  z-index: 99;

  &--increment {
    &:after {
      content: $timer-control-increment-icon;
    }
    top:0;
  }

  &--decrement {
    &:after {
      content: $timer-control-decrement-icon;
    }
    bottom:0;
  }
}
